<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">Typing Challenge</h1>
      <div *ngIf="initialLoad" class="loading">
        <p>Generating Sentence...
        </p>
        <div class="spinner">
          <mat-spinner [diameter]="30"></mat-spinner>
        </div>
      </div>
      <!-- <p class="has-text-centered">{{sentence}}</p> -->
      <p class="has-text-centered">
        <span *ngFor="let ch of sentence; let i = index" [class]="compare(ch, value[i])">{{ch}}</span>
      </p>

      <div class="field"><input type="text" class="input" (keyup)="onChange($event)"></div>
      <div class="box has-text-centered" *ngIf="match">
        <h1 class="title">Success!</h1>
      </div>
    </div>
  </div>
</div>
